.container {
  display: flex;
  justify-content: flex-start;
  font-family: Tahoma;
  font-size: 40px;
  min-height: 100vh;
  min-width: 100vh;
}

.container div {
  width: 100px;
  height: 150px;
  margin: 5px;
  background-color: #eeeff2;
  border-left: 10px dotted #D0D0FF;
  display: flex;
  align-items: flex-start;
}

.container div:last-child {
  position: absolute;
  /* margin-left: auto; */
  /* justify-self: end; */
  /* align-self: flex-end; */
  right: 0;
  bottom: 0;
}

.container div:hover {
  background-color: yellow;
  color: goldenrod;
}

.container div p {
  margin: 0px;
  margin-left: 10px;
}