.card-media {
  width: 500px !important;
  height: auto;
}

.photo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none !important;
}
